@tailwind base;
@tailwind components;
@tailwind utilities;

.text_light_all * {
    --tw-text-opacity: 1;
    color: rgb(246 246 246/var(--tw-text-opacity))
}
.size-6 {
    width: 3rem;
    height: 3rem;
}